@keyframes process {
	from { opacity: 0 }
	to { opacity: 1 }
}
svg text {
	font-family: 'Roboto', sans-serif;
}
#deployment-graph svg .axis path,
#deployment-graph svg .axis line {
	fill: none;
	stroke: #ddd;
	shape-rendering: crispEdges;
}
#deployment-graph svg .axis .tick circle {
	fill: #36393a;
}
#deployment-graph svg .axis.x .tick text {
	font-size: 14px;
	text-anchor: start;
	fill: #4c596b;
}
#deployment-graph svg .axis.y .tick text {
	font-size: 14px;
	text-anchor: end;
	fill: #4c596b;
}
#deployment-graph svg .bars .bar{
	fill: #B7C6CD;
	cursor: pointer;
}
#deployment-graph svg .bars .bar:hover {
	fill: #2F2041;
}
#deployment-graph svg .bars .bar.selected {
	fill: #2F2041;
}
#deployment-graph .tooltip {
 	position: absolute;
	text-align: center;
	padding: 20px;
	font: 12px sans-serif;
	background: #36393a;
	border: 0px;
	border-radius: 2px;
	pointer-events: none;
	color : white;
	text-align: left;
	border: 1px solid #888;
	opacity: 0;
}
#heatmap-graph {
	position: relative;
}
#heatmap-graph .cards rect {
	cursor: pointer;
}
#heatmap-graph .tooltip {
 	position: absolute;
	text-align: center;
	padding: 10px;
	font: 14px sans-serif;
	background: rgba(0, 0, 0, 0.8);
	border: 0px;
	border-radius: 2px;
	pointer-events: none;
	color : white;
	text-align: left;
	border: 1px solid #888;
	opacity: 0;
}
#device-graph {
	position: relative;
}
#device-graph .tooltip {
	width: 100px;
 	position: absolute;
	text-align: center;
	padding: 10px;
	font: 14px sans-serif;
	background: rgba(0, 0, 0, 0.5);
	border: 0px;
	border-radius: 2px;
	pointer-events: none;
	color : white;
	text-align: left;
	border: 1px solid #888;
	opacity: 0;
}
#device-graph .tooltip div {
	/*white-space: nowrap;
	overflow: hidden;*/
}
#device-graph svg .textarcs .textarc text{
	font-size: 20px;
	font-weight: bolder;
	fill: white;
	text-anchor: middle;
	pointer-events: none;
}

#geomap-graph {
	position: relative;
}
#geomap-graph svg {
	background: #f3f3f3;
	cursor: pointer;
}
#geomap-graph svg path {
	fill: #8893af;
	stroke: #f3f3f3;
	stroke-width: 1px;
	vector-effect: non-scaling-stroke;
}
#geomap-graph svg .country-names text {
	text-anchor: middle;
	text-shadow: 1px 1px #ccc;
	font-size: 10px;
	pointer-events: none;
}
#geomap-graph svg .state-names text {
	text-anchor: middle;
	text-shadow: 1px 1px #ccc;
	font-size: 10px;
	pointer-events: none;
}
#geomap-graph svg .city-names text {
	text-anchor: middle;
	text-shadow: 1px 1px #ccc;
	font-size: 10px;
	pointer-events: none;
}
#geomap-graph svg .back-to-world {
	opacity: 0.5;
}
#geomap-graph svg .back-to-world:hover {
	opacity: 1;
	cursor: pointer;
}
#geomap-graph svg .back-to-world text {
	fill: #444;
}
#geomap-graph svg .legends .legend {
	fill: #db847d;
}
#geomap-graph svg .legends .legend:hover {
	fill: #cf5351;
	font-weight: bolder;
}
#geomap-graph svg .points {
	pointer-events: none;
}
#geomap-graph .tooltip {
 	position: absolute;
	text-align: center;
	padding: 10px;
	font: 12px sans-serif;
	background: rgba(0, 0, 0, 0.8);
	border: 0px;
	border-radius: 2px;
	pointer-events: none;
	color : white;
	text-align: left;
	border: 1px solid #888;
	opacity: 0;
}
#geomap-graph .zoom {
	position: absolute;
	bottom:  0px;
	padding: 5px;
    font-size: 20px;
    width: 40px;
    height: 40px;
}
#geomap-graph .zoom-in {
	right: calc(50% + 20px);
}
#geomap-graph .zoom-out {
	right: calc(50% - 20px);
}